@model IEnumerable<CastonFactory.Data.Models.Content>

@{
    ViewData["Title"] = "RatingPage";
}


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class=" card">
                <div class="card-body">
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>  @Html.DisplayNameFor(model => model.User.FullName)</th>
                                    <th>  @Html.DisplayNameFor(model => model.CreationName)</th>
                                    <th>  @Html.DisplayNameFor(model => model.ContentType)</th>
                                    <th>  @Html.DisplayNameFor(model => model.Theme.Name)</th>
                                    <th>  @Html.DisplayNameFor(model => model.Genre.Name)</th>
                                    <th>  @Html.DisplayNameFor(model => model.User.PhoneNumber)</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tr-shadow">
                                        <td> @Html.DisplayFor(modelItem => item.User.FullName)</td>
                                        <td>
                                            <span class="block-email">  @Html.DisplayFor(modelItem => item.CreationName)</span>
                                        </td>
                                        <td class="desc">  @Html.DisplayFor(modelItem => item.ContentType)</td>
                                        <td>  @Html.DisplayFor(modelItem => item.Theme.Name)</td>
                                        <td>  @Html.DisplayFor(modelItem => item.Genre.Name)</td>
                                        <td>
                                            <span class="status--process">  @Html.DisplayFor(modelItem => item.User.PhoneNumber)</span>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button type="button" class="item" data-toggle="tooltip" data-placement="top" title="Görüntüle">
                                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id"> <i class="zmdi zmdi-more"></i></a>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

